
MD_SPOKEN_UI/voice-assistant-246008-3e3fe4524b82.json
*.pyc
*.xml
*.iml
MD_CORRESPONDENCE_MANAGER/input_text.txt
MD_CORRESPONDENCE_MANAGER/profile-backup.txt
MD_CORRESPONDENCE_MANAGER/profile.txt
MD_CORRESPONDENCE_MANAGER/test_fio.py
MD_CORRESPONDENCE_MANAGER/triplet-data-output.txt
MD_CORRESPONDENCE_MANAGER/emails.txt
myd_observe_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/checkpoint/checkpoint
*.data-00000-of-00001
myd_observe_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.index
myd_observe_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/mscoco_label_map.pbtxt
myd_observe_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/pipeline.config
myd_observe_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/saved_model/saved_model.pb
myd_observe_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.index
myd_observer_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/mscoco_label_map.pbtxt
myd_observer_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/mscoco_label_map.pbtxt
myd_observer_look_service/data/models/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/mscoco_label_map.pbtxt
